<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>words1</title>
    </head>

    <body>

        <input type="text" name="query" autofocus autocomplete="off" placeholder="Query">
        <ul> </ul>
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            let input = document.querySelector('input');

            // instead of dealing with <li> on server-side but on client-side to improve communication
            input.onkeyup = function() {
                $.get('/search?query=' + input.value, function(data) {
                    let html = '';
                    for (word of data) {
                        html += '<li>' + word + '</li>';
                    }

                    document.querySelector('ul').innerHTML = html;
                })
            }
        </script>
        
    </body>
</html>