{% extends "layout.html" %}

{% block body %}
		<h1> Register for froshims</h1>
		<form action="/register" method="post">
			<input type="text" name="name" autocomplete="off" placeholder="Name" autofocus>
			<select name="dorm">
				<option value="" selected disabled>Dorm</option>
				<option value="Canaday">Canaday</option>
				<option value="Apley Court">Apley Court</option>
				<option value="Washington">Washington</option>
				<option value="Greenough">Greenough</option>
				<option value="Hollis">Hollis</option>
				<option value="Matthews">Matthews</option>
			</select>
			<input name="submit" type="submit" value="Register">
		</form>
		<h2> see all <a href="/registered">registrants</a> </h2>

		<script>	
			document.querySelector('form').onsubmit = function() {
				if (!document.querySelector('input').value) {
					alert('You must provide your name');
					return false;
				}
				if (!document.querySelector('select').value) {
					alert('You must provide your dorm');
					return false;
				}

				return true;
			}
		</script>
{% endblock %}
