<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ url_for('static', filename='dom.js') }}"></script>
        <!-- url_for only works when flask run as froshims4-->
        <title>color3</title>
    </head>
    <body>
        <h1 id="hello">Hello</h1>
        <select id="color-change">
            <option value="black" selected disabled>black</option>
            <option value="red">red</option>
            <option value="green">green</option>
            <option value="blue">blue</option>
        </select>
    </body>
</html>