{% extends "layout.html" %}

{% block title %}
    Flight Info
{% endblock %}

{% block body %}
    <h2> Details of Flight </h2>
    <ul>
        <li> origin: {{ flight.origin }} </li>
        <li> destination: {{ flight.destination }} </li>
        <li> duration: {{ flight.duration }} minutes </li>
    </ul>
    
    <h2> Passengers: </h2>
    <ul>
        <!-- Note "else" syntax in jinja2 -->
        {% for passenger in passengers %}
            <li> {{ passenger.name }} </li>
        {% else %} 
            <li> No passenger </li>
        {% endfor %}
    </ul>    
    
{% endblock %}